<!-- Libraries -->
<script src="/JavaScript/libs/jquery.min.js"></script>
<script src="/Bootstrap/js/bootstrap.min.js"></script>
<script src="/JavaScript/libs/kbpgp/kbpgp-2.0.8-min.js"></script>
<script src="/JavaScript/libs/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!-- Init the AngularJS App Module -->
<script src="/JavaScript/init.js"></script>

<script src="/JavaScript/Services/Init.js"></script>
<script src="/JavaScript/Services/IoService.js"></script>

<script src="/JavaScript/Controller/login.js"></script>
<script src="/JavaScript/Controller/chat.js"></script>